/**
 *Copyright 2017 The apla-front Authors
 *This file is part of the apla-front library.
 *
 *The apla-front library is free software: you can redistribute it and/or modify
 *it under the terms of the GNU Lesser General Public License as published by
 *the Free Software Foundation, either version 3 of the License, or
 *(at your option) any later version.
 *
 *The apla-front library is distributed in the hope that it will be useful,
 *but WITHOUT ANY WARRANTY; without even the implied warranty of
 *MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *GNU Lesser General Public License for more details.
 *
 *You should have received a copy of the GNU Lesser General Public License
 *along with the apla-front library. If not, see <http://www.gnu.org/licenses/>.
 */

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./SourceSansPro-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 300;
    src: local('Source Sans Pro Light Italic'), local('SourceSansPro-Light-Italic'), url(./SourceSansPro-LightIt.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(./SourceSansPro-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(./SourceSansPro-It.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'), url(./SourceSansPro-Semibold.otf) format('opentype');
}

@font-face {
    font-family: 'Source Sans Pro';
    font-style: italic;
    font-weight: 600;
    src: local('Source Sans Pro SemiBold Italic'), local('SourceSansPro-SemiBold-Italic'), url(./SourceSansPro-SemiboldIt.otf) format('opentype');
}

@font-face {
    font-family: 'Site Icons';
    font-style: normal;
    font-weight: normal;
    src: url(./site-icons.otf) format('opentype');
}
