/**
 *Copyright 2017 The apla-front Authors
 *This file is part of the apla-front library.
 *
 *The apla-front library is free software: you can redistribute it and/or modify
 *it under the terms of the GNU Lesser General Public License as published by
 *the Free Software Foundation, either version 3 of the License, or
 *(at your option) any later version.
 *
 *The apla-front library is distributed in the hope that it will be useful,
 *but WITHOUT ANY WARRANTY; without even the implied warranty of
 *MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *GNU Lesser General Public License for more details.
 *
 *You should have received a copy of the GNU Lesser General Public License
 *along with the apla-front library. If not, see <http://www.gnu.org/licenses/>.
 */

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

html, body, #root, #root > div {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

body {
    color: #515253;
    background-color: #e5e9ef;
}

.no-float {
    float: none;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.bg-dark {
    background-color: #3a3f51;
}

.elastic {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-item-align: stretch!important;
    align-self: stretch!important;
    position: relative;
}

.switch-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.switch-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-icon {
    padding-left: 0;
    padding-right: 0;
}

.btn-icon > .btn-label {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Hide HTML5 input[type="number"] up/down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center {
    position: fixed;
    margin: -12px 0 0 0;
    top: auto;
    z-index: 900;
    left: 50%;
    width: 350px;
    transform: translateX(-175px);
}

.redux-toastr .toastr.rrt-success {
    background-color: #23ba43;
    border: solid 1px #1fa73c;
}

.redux-toastr .toastr {
    box-shadow: none;
    opacity: 1;
    font-size: 13px;
}