/**
 *Copyright 2017 The apla-front Authors
 *This file is part of the apla-front library.
 *
 *The apla-front library is free software: you can redistribute it and/or modify
 *it under the terms of the GNU Lesser General Public License as published by
 *the Free Software Foundation, either version 3 of the License, or
 *(at your option) any later version.
 *
 *The apla-front library is distributed in the hope that it will be useful,
 *but WITHOUT ANY WARRANTY; without even the implied warranty of
 *MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 *GNU Lesser General Public License for more details.
 *
 *You should have received a copy of the GNU Lesser General Public License
 *along with the apla-front library. If not, see <http://www.gnu.org/licenses/>.
 */

* {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

html, body, #root, #root > div {
    padding: 0;
    margin: 0;
    min-height: 100%;
    height: 100%;
}

body {
    color: #515253;
    background-color: #e5e9ef;
}

.no-float {
    float: none;
}

.align-top {
    vertical-align: top;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.flex {
    display: flex;
}

.flex.space-between {
    justify-content: space-between;
}

.bg-dark {
    background-color: #3a3f51;
}

.elastic {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -ms-flex-item-align: stretch!important;
    align-self: stretch!important;
    position: relative;
}

.switch-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.switch-wrapper > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.breadcrumb {
    margin: -20px -25px 20px -20px;
    background-color: #fafbfc;
    border-top: 1px solid #cfdbe2;
    border-bottom: 1px solid #cfdbe2;
    font-weight: normal;
    border-radius: 0;
    color: #909FA7;
    padding: 10px 20px;
    list-style: none;
}

.content-wrapper {
    border-top: none;
}

.btn-icon {
    padding-left: 0;
    padding-right: 0;
}

.btn-icon > .btn-label {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Hide HTML5 input[type="number"] up/down arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}


.redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center {
    position: fixed;
    margin: -12px 0 0 0;
    top: auto;
    z-index: 900;
    left: 50%;
    width: 350px;
    transform: translateX(-175px);
}

.redux-toastr .toastr.rrt-success {
    background-color: #23ba43;
    border: solid 1px #1fa73c;
}

.redux-toastr .toastr {
    box-shadow: none;
    opacity: 1;
    font-size: 13px;
}

/*----Constructor---------*/

/*.b-constructor {*/
    /*margin: -20px;*/
    /*min-height: 300px;*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/

/*.b-constructor__left-panel {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*width: 286px;*/
    /*min-height: 100px;*/
/*}*/

/*.b-constructor__right-panel {*/
    /*position: absolute;*/
    /*top: 0px;*/
    /*right: 0px;*/
    /*width: 286px;*/
    /*min-height: 100px;*/
/*}*/

/*.b-constructor__center-panel {*/
    /*margin: 0 286px 0 286px;*/
    /*min-height: 400px;*/
/*}*/

/*.b-grid {*/
    /*margin: 0 20px;*/
    /*min-height: 600px;*/
    /*border-left: 1px solid #b1b1b1;*/
    /*border-right: 1px solid #b1b1b1;*/
    /*background-repeat: repeat;*/
    /*background-image: url('../images/constructor/grid.png');*/
/*}*/

.b-panel {

}

.b-panel__header {
    position: relative;
    height: 31px;
    background-color: #3a4653;
    padding-left: 20px;
}

.b-panel__header__text {
    line-height: 31px;
    font-size: 14px;
    font-family: "Avenir-Book", "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    color: #707c91;
}

.b-panel__header__toggle {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 16px;
    height: 3px;
    background-color: #dcdfe2;
    cursor: pointer;
}

.b-panel__body {
    background-color: #465669;
    min-height: 100px;
}

.b-instrument-panel {
    min-height: 34px;
    background-color: #465669;
}

.b-instrument-panel__inner {
    padding: 4px;
}

.b-instrument-panel__inner_dark {
    background-color: #465669;
}

.b-panel-light {
    background-color: #707c91;
    color: #FFF;
}

.b-panel-light input {
    background-color: #354454;
    border-color: #4c6073;
    color: #FFF;
}

.b-panel-light input[readonly] {
    background-color: #354454;
    border-color: #4c6073;
    color: #AAA;
}

.b-page-title {
    color: #FFF;
    padding: 0 20px;
    line-height: 26px;
}

.b-category-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.b-category-list > li {
    min-height: 30px;
    max-height: 500px;
    line-height: 30px;
    background-color: #707c91;
    border-top: 1px solid #626c7e;
    border-bottom: 1px solid #818c9f;
    font-size: 14px;
    font-weight: 900;
    color: #ffffff;
    font-family: "Avenir", "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.b-category-list > li.collapsed {
    max-height: 30px;
}

.b-category-list > li > div {
    padding-left: 20px;
    cursor: pointer;
}

.b-category-list > li > div > img {
    margin-right: 8px;
    position: relative;
    top: -2px;
}

.b-category-list > li:first-child {
    border-top: none;
}

.b-category-list > li:last-child {
    border-bottom: none;
}

.b-category-sublist {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #465669;
}

.b-category-sublist > li {
    text-transform: capitalize;
    position: relative;
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
    font-family: "Avenir", "Source Sans Pro", sans-serif;
    padding-left: 45px;
}

.b-category-sublist > li:before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 30px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    background-color: #8399b0;
    border-radius: 2px;
}

.b-tree {
    margin: 0;
    padding: 10px 0;;
    list-style: none;
}

.b-tree > li {
    color: #FFF;
    padding-left: 20px;
    line-height: 21px;
    position: relative;
}

.b-tree > li > i {
    color: #8399b0;
    margin-right: 7px;
    cursor: pointer;
    min-width: 8px;
    display: inline-block;
}

.b-tree > li.selected {
    color: #FFF;
    background-color: #61b2fe;
}

.b-tree > li.selected > i {
    color: #FFF;
}

.b-tree-indent {
    margin-left: 3px;
    margin-right: 3px;
}

.b-tree-delete {
    position: absolute;
    left: 5px;
    line-height: 21px;
}

.g-no-padding {
    padding: 0;
}

.g-padding-bottom {
    padding-bottom: 10px;
}

.b-position-bullet {
    display: inline-block;
    position: relative;
    width: 11px;
    height: 11px;
    border-radius: 2px;
    border: 1px solid #9aa7b3;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}

.b-position-bullet_selected {
    border-color: #62b2fc;
    background-color: #62b2fc;
}

.b-position-bullet_selected:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #FFF;
    border-radius: 2px;
}

.b-bullet {
    display: inline-block;
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 2px;
    border: 1px solid #9aa7b3;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
}

.b-bullet_selected {
    border-color: #62b2fc;
    background-color: #62b2fc;
}

.b-bullet > img {
    display: block;
    width: 100%;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
}

.b-switch {
    display: inline-block;
    min-width: 30px;
    height: 18px;
    cursor: pointer;
}

.b-switch > img {
    /*display: block;*/
    /*width: inherit;*/
    /*height: inherit;*/
}

.b-switch > span {
    padding: 0 5px;
    vertical-align: middle;
}

.b-icon-group {
    margin: 0 10px;
}

.b-icon {
    width: 26px;
    height: 26px;
    margin: 0 2px;
}

.b-icon > img {
    display: inline;
    /*width: 90%;*/
    /*height: auto;*/
    vertical-align: middle;
}

.editable {
    border: 1px dashed #7799FF;
}

.can-drop {
    background-color: rgba(150, 190, 255, 0.3);
    /* transition: border 0.5s ease-in-out; */
    padding: 10px;
}

.can-drop.can-drop_before {
    border-top: 1px dashed blue;
    border-left: 1px dashed blue;
    background-color: rgba(150, 190, 255, 0.3);
    /*transform: translateX(5px);*/
    /*transform: translateY(5px);*/
}

.can-drop.can-drop_after {
    border-bottom: 1px dashed blue;
    border-right: 1px dashed blue;
    background-color: rgba(150, 190, 255, 0.3);
    /*transform: translateX(-5px);*/
    /*transform: translateY(-5px);*/
}

/*p.editable {*/
    /*border: 1px dashed #7799FF;*/
/*}*/

