.panel {
    border-radius: 0;
    box-shadow: none;

    .panel-heading {
        border-radius: 0;
        margin: -1px;
    }
}

.btn {
    border: 0;
    border-radius: 0;
    font-size: 14px;
    padding: 6px 20px;
    box-shadow: none !important;

    .btn-label {
        background: 0;
    }

    &.btn-default { background: #e9e9e9; }
    &.btn-default:hover { background: #f0f0f0; }
    &.btn-default:active { background: #e5e5e5; }
}

.form-control {
    border-radius: 0;
}